<div class="col-md-4 text-center bookmark-item" style="background-color: <%= bookmark.color %>">
  <div class="bookmark-normal">
    <%= bookmark.name %>
  </div>
  <div class="bookmark-modify" style="display: none;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookmark-modify-modal" data-bookmark-id="<%= bookmark.id %>">
      수정하기
    </button>
    <%= link_to '삭제하기', bookmark_path(bookmark),
              method: :delete,
              data: { confirm: '삭제하시겠습니까?' }, class: 'btn btn-danger' %>
  </div>
</div>

