<li class="list-group-item">
  <span class="bookmark" style="background-color: <%= bookmark.color %>; color: white; padding: 5px 20; box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);">
    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
    <%= bookmark.name %>
  </span>
    
  <span class="bookmark-action">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <%= link_to '', bookmark_path(bookmark),
          method: :delete,
          data: { confirm: '삭제하시겠습니까?' }, class: 'glyphicon glyphicon-trash' %>
  </span>
</li>
