<li class="list-group-item">
  <div class="viewer">
    <span class="bookmark" style="background-color: <%= bookmark.color %>;">
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      <%= bookmark.name %>
    </span>
      
    <span class="pull-right">
      <a class="glyphicon glyphicon-edit" href="#" data-bookmark-id="<%= bookmark.id %>"></a>
      <%= link_to '', bookmark_path(bookmark),
            method: :delete,
            data: { confirm: '삭제하시겠습니까?' }, class: 'glyphicon glyphicon-trash' %>
    </span>
  </div>
  <div class="modify">
  </div>
</li>
