<div class="container-fluid">
<!-- <div class=" container"> -->
  <%= render template: 'records/new' %>
  <div class="row">
    <div class="col-md-10">
    </div>

    <div class="col-md-2 bookmark-list">
      <ul>
          <li style="background: red;">
              <a>중요</a>
              <span>edit</span>
          </li>
          <li style="background: blue;">
              <a>안중요</a>
              <span>edit</span>
          </li>
          <li style="background: green;">
              <a>듣지마</a>
          </li>
      </ul>
    </div>
  </div>
</div>