
<div class="intro">
  <div class="content">

    <div id="user_nav">
      <div class="main_text">
      <h1> LoroClip </h1>
        <p class="lead-text">가장 효율적으로, 빈틈없이 녹음본을 듣고 관리하는 방법</p>
      </div>

      <div>
      <%= link_to "/auth/facebook", id:"fb-link" do %>
        <div class="fb-join">
          <div class="fb-join-image">
            <%= image_tag "facebook-black.png", class: "fb-black"%>
          </div>
          <div class="fb-join-text">페이스북으로 시작하기</div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>