<div class="col-md-3 bookmark-list">
  <div class="list-group">
    <% bookmarks.each do |bookmark| %>
      <a href="#" class="list-group-item" data-bookmark=<%= bookmark.id %> style="background-color: <%= bookmark.color %>"><%= bookmark.name %></a>
    <% end %>
  </div>
</div>