<div class="col-md-3 bookmark-list">
  <ul>
    <li style="background: red;" data-bookmark="1">
      <a>중요</a>
      <span>edit</span>
    </li>
    <li style="background: blue;" data-bookmark="2">
      <a>안중요</a>
      <span>edit</span>
    </li>
    <li style="background: green;" data-bookmark="3">
      <a>듣지마</a>
    </li>
  </ul>
</div>