<div class="col-md-3 bookmark-list">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-success" data-bookmark="1">중요</a>
    <a href="#" class="list-group-item list-group-item-info" data-bookmark="2">안중요</a>
    <a href="#" class="list-group-item list-group-item-warning" data-bookmark="3">듣지마</a>
  </div>
</div>