<div class="col-md-12">
  <div class="form-group">
    <div id="note-area">
      <%= @record.note.try(:html_safe) %>
    </div>
  </div>
</div>

<script>
  var editor = new MediumEditor('#note-area');
</script>