<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 record-header">
      <div class="record-header-title">
        <h3 class="page-header">내 녹음본 리스트</h3>
      </div>
    </div>
  </div>

  <%= render @records %>
</div>