<div class="row">
  <div class="col-md-2">
    <button id="record-btn">Record</button>
    <button id="stop-btn">Stop</button>
    <button id="save-btn">Save</button>
  </div>
  <div class="col-md-10">
    <div id="waveform">
      <wave style="position: absolute; z-index: 2; overflow: hidden; width: 0px; display: block; box-sizing: border-box; border-right-style: solid; border-right-width: 0px; border-right-color: rgb(51, 51, 51);">
        <canvas width="0" height="128" style="width: 0px;"></canvas>
      </wave>
    </div>
  </div>
</div>