<% content_for :header do %>
  <%= javascript_include_tag 'recorder.js', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :navbar_button do %>
  <li class="recorder-component record">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-record"></i>
      </span>
    </button>
  </li>

  <li class="recorder-component pause">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-pause"></i>
      </span>
    </button>
  </li>
  <li class="recorder-component save">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </span>
    </button>
  </li>
<% end %>

<div class="container-fluid">
  <div id="running-time" data-time="0"></div>

  <div class="row recorder-component">
    <div class="col-md-12">
      <div id="waveform-recorder">
        <wave style="position: absolute; z-index: 2; overflow: hidden; width: 0px; display: block; box-sizing: border-box; border-right-style: solid; border-right-width: 0px; border-right-color: rgb(51, 51, 51);">
          <canvas width="0" height="128" style="width: 0px;"></canvas>
        </wave>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'note' %>
    <%= render partial: 'bookmark', locals: {bookmarks: @bookmarks} %>
  </div>
</div>

