<% content_for :header do %>
  <%= javascript_include_tag 'application/recorder', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :navbar_button do %>
  <li class="recorder-component record">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-record"></i>
      </span>
    </button>
  </li>

  <li class="recorder-component pause">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-pause"></i>
      </span>
    </button>
  </li>
  <li class="recorder-component save">
    <button class="btn btn-link btn-lg">
      <span>
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </span>
    </button>
  </li>
<% end %>

<div class="wave-component">
  <div id="running-time" data-time="0"></div>

  <div class="row recorder-component">
    <div class="col-md-12 waveform-container">
      <div id="waveform-recorder">
        <div class="recorder-description-wrap">
          <span class="recorder-description">위의 녹음 버튼을 클릭해 녹음을 시작하세요!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'note' %>
    <%= render partial: 'bookmark', locals: {bookmarks: @bookmarks} %>
  </div>
</div>

