<% content_for :header do %>
  <%= javascript_include_tag 'player' %>
<% end %>

<% content_for :navbar_button do %>
<li class="player-component">
  <button class="btn btn-link btn-lg" data-action="play">
    <span id="play">
      <i class="glyphicon glyphicon-play"></i>
    </span>
    <span id="pause" style="display: none;">
      <i class="glyphicon glyphicon-pause"></i>
    </span>
  </button>
</li>
<% end %>

<div class="page-header">
  <h1><%= @record.title %></h1>
</div>

<div class="row player-component">
  <div id='wave'></div>

  <div class="container-fluid">
    <p id="subtitle" class="text-center text-info">&nbsp;</p>

    <div id="wave-timeline"></div>

    <div id="waveform-player" data-url="<%= @record.file.url %>">
      <!-- Here be waveform -->
    </div>
  </div>
</div>

<%= render partial: 'note' %>
<!--

    <form role="form" name="edit" style="opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
      <div class="form-group">
        <label for="start">Start</label>
        <input class="form-control" id="start" name="start" />
      </div>

      <div class="form-group">
        <label for="end">End</label>
        <input class="form-control" id="end" name="end" />
      </div>

      <div class="form-group">
        <label for="note">Note</label>
        <textarea id="note" class="form-control" rows="3" name="note"></textarea>
      </div>

      <button type="submit" class="btn btn-success btn-block">Save</button>
      <center><i>or</i></center>
      <button type="button" class="btn btn-danger btn-block" data-action="delete-region">Delete</button>
    </form> -->