

.navbar-audio-title {
  font-size: 1.5em;
}

@media(min-width:768px) {
  .navbar-brand {
    height: 64px !important;
    padding: 22px 22px !important;
  }

  .navbar-nav > li > a {
    padding-top: 22px !important;
    height: 64px;
  }

  .navbar-nav > li > img {
    padding: 10px 0px;
    height: 64px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0
  }
  .navbar-nav > li > a {
    padding-top: 15px !important;
    height: 50px;
  }

  .navbar-nav {
    margin: 0px -15px !important;
  }

  .navbar-audio-title {
    font-size: 1.2em;
  }
}