/*
* header
*/
.page-header {
  margin: 20px 0 0 0 !important;
  padding-bottom: 20px;
}

/*
* item
*/

.record-btn {
  margin: 0px;
  padding: 0px;
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

.validate-has-error {
  color: #ac1818;
  font-size: 12px;
  border-color: #ffafbd;
}

.record-item-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;

}

.record-item {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0 30px 0 !important;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

.record-item:hover {
  border-bottom: 0;
}

.record-title {
  font-size: 16px;
  color: #4a4a4a;
  margin: 5px 0px;
}

.record-created-at {
  font-size: 11px;
  color: #cccccc;
}

.record-note {
  font-size: 12px;
  color: #878787;
  height: 64px;
  max-height: 64px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.record-btn-container {
  position:absolute;
  top: 20px;
  right: 20px;

  .glyphicon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
  }
}

#note-area {
  font-size: 22px;
  line-height: 30px;

  margin-top: 50px;

  p {
    line-height: 1.7em;
  }

  h3 {
    font-size: 36px;
  }
}

#note-area:focus,
#note-area:active {
  outline:0px !important;
  -webkit-appearance:none;
}
